<meta charset="utf-8" />
<title>$!{title} - 调度中心 </title>
<meta name="description" content="overview &amp; stats" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- basic styles -->
<link href="${rc.contextPath}/assets/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="${rc.contextPath}/assets/css/font-awesome.min.css" />
<!--[if IE 7]>
                  <link rel="stylesheet" href="${rc.contextPath}/assets/css/font-awesome-ie7.min.css" />
                <![endif]-->
<!-- page specific plugin styles -->
<!-- fonts -->
<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-fonts.css" />
<!-- ace styles -->
<link rel="stylesheet" href="${rc.contextPath}/assets/css/ace.min.css" />
<link rel="stylesheet"
	href="${rc.contextPath}/assets/css/ace-rtl.min.css" />
<link rel="stylesheet"
	href="${rc.contextPath}/assets/css/ace-skins.min.css" />
<link rel="stylesheet"
	href="${rc.contextPath}/static/css/custom.css" />
<!--[if lte IE 8]>
                  <link rel="stylesheet" href="${rc.contextPath}/assets/css/ace-ie.min.css" />
                <![endif]-->
<!-- inline styles related to this page -->
<!-- ace settings handler -->
<script src="${rc.contextPath}/assets/js/ace-extra.min.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
                <script src="${rc.contextPath}/assets/js/html5shiv.js"></script>
                <script src="${rc.contextPath}/assets/js/respond.min.js"></script>
                <![endif]-->
<script>
	//环境变量
	window.contextPath = "${rc.contextPath}";
</script>