<div class="col-xs-10">
	<div id="alertMessageDiv" style="text-align: center;"></div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover"
			id="listTable">
			<thead>
				<tr>
					<th>用户名</th>
					<th>团队</th>
					<th>邮箱地址</th>
					<th>手机</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				#foreach($user in $list)
				<tr>
					<td><b>$user.name</b></td>
					<td>#if($user.teamName)<span class="label">$!user.teamName</span>#end
					</td>
					<td>$user.email</td>
					<td>$user.telephone</td>
					<td>$dateFormatUtils.format($user.createTime,'yyyy年MM月dd日HH时mm分')</td>
				</tr>
				#end
			</tbody>
		</table>
		#screen("paginator.htm")
	</div>
</div>
